---
import { RightArrow } from "@components/ui/icons";
const { title, children, key } = Astro.props;
---

<li tabindex={key}>
  <button class="btn btn-ghost rounded-btn justify-start">
    {title}
    <RightArrow />
  </button>
  <ul tabindex={key} class="p-2 shadow bg-white dark:bg-zinc-900">
    {
      children.map((each) => (
        <li>
          <a class="btn btn-ghost rounded-btn" href={each.path}>{each.title}</a>
        </li>
      ))
    }
  </ul>
</li>
